lib/src/**
lib/test/**
build-dev.properties
build-prod.properties
build.properties
classes/**
bootstrap/**
dist/**
exploded-archives/**
hibernate-console.properties
nbproject
seam-gen.properties
test-build/**
resources/components-prod.properties
resources/components-test.properties
resources/seam-gen.reveng.xml
resources/velo-prod-ds.xml
src/test/**
